<h1>Login</h1>


<%= form_for :user do |f| %>


    <%=f.label :username%>
    <%=f.text_field :username%>
    <br>
   
    <%=f.label :password%>
    <%=f.password_field :password%>
    <br>
    <%=link_to "Login With Google", 'auth/google_oauth2', method: :post%> 
    <%= f.submit "Login" %>
    <br>
    <br>

<% end %>
