<%= render 'error' %>

<h1> What do you recommend?! </h1>

<%= form_with model: [@restaurant, @recommendation], local: true do |f| %>
  <p>
    <%= f.label :try %>
    <%= f.text_field :try %><br>
    <div>
    </div>
    <%= f.label :avoid%>
    <%= f.text_field :avoid%>
    <div>
    </div>
    <%= f.submit %>
  </p>
<% end %> 

 
