<h1>Sign Up</h1>

<%= form_for (@user) do |f| %>

 <%= f.object.errors.full_messages.join(",
  ") if f.object.errors.any? %>

    <p>
    <strong><%=f.label :username%></strong>
    <%=f.text_field :username%><br />
    Cannot include special characters (ex. @!^$%)
    <br>
    <br>
    <br>
    <br>
    <strong><%=f.label :email%></strong>
    <%=f.email_field :email%><br/>
    You must enter your official company email here to register!
    <br>
    <br>
    <br>
    <strong><%=f.label :password%></strong>
    <%=f.password_field :password%>
    <br>
    <br>
    <%= f.submit "Submit" %>
    </p>
<% end %>
    