<h1><%= @restaurant.name%></h1>

<p>
   
   <strong>Location: </strong> <%= @restaurant.city.name %><br />
   <strong>User:</strong> <%= @restaurant.user.username %><br />
   <strong>Hours:</strong> <%= @restaurant.hours %><br />

   <strong>Long or short layover? </strong> <%= @restaurant.long_or_short_layover %><br />
   <strong>Price Point:</strong> <%= @restaurant.price_point %><br />
   <strong>Discount:</strong> <%= @restaurant.discount %><br />
   <strong>More Info:</strong> <%= @restaurant.additional_info %><br />

     <%= link_to "What do you recommend?", new_recommendation_path %>

</p>
