<h1> Add a new Layover! </h1>

<%= form_for @city do |f| %>
<p>

  <%= f.label :name %>
  <%= f.text_field :name %><br>
    <div>
    </div>
  <%= f.label :state_or_country%>
  <%= f.text_field :state_or_country%>
    <div>
    </div>
  <%=f.label :airport_code%>
  <%= f.text_field :airport_code%>
    <div>
    </div>
  <%=f.label :hotel%>
  <%= f.text_field :hotel%>
    <div>
    </div>
   <h2>Or create a new Restaurant:</h2>
    <%= f.fields_for :restaurant, Restaurant.new do |restaurant_builder| %>
    <%= restaurant_builder.label :name, "Restaurant Name:" %><br>
    <%= restaurant_builder.text_field :name%><br>
      <div>
    </div>
    <% end %> 
  <%= f.submit %>
  </p>
<% end %> 
