<h1><%= "Where can you eat in #{@city.name}?"%></h1>
<p>
  <% @city.restaurants.each do |restaurant| %>
      <ul>
        <%= link_to restaurant.name, restaurant %>
      </ul>
    <% end %>
      <br />
      <strong>More on the layover </strong><br />
       <br>
      state or country:<%= @city.state_or_country %><br />
      Airport Code:<%= @city.airport_code %><br />
      Hotel:<%= @city.hotel %><br />
      <%= link_to "Edit City", edit_city_path(@city) %>
      <%= link_to "Delete City", @city, method: :delete, data: { confirm: "Are you sure?" } %>
      <br />
      <br />
      <strong><%= link_to "Add a Restaurant in #{@city.name}", new_restaurant_path %><strong>
</p>