<h1><%= "Where can you eat in #{@city.name}?"%></h1>

  <h2><% @city.restaurants.each do |restaurant| %>
      <li>
        <%= link_to restaurant.name, restaurant %>
      </li>
    <% end %>
  </h2>
      <br />
      <strong><%= link_to "Add a Restaurant in #{@city.name}", new_restaurant_path %></strong><br/>
      <br>
      <strong><%= "More about the layover in #{@city.name}" %></strong><br />
        Where is it?:<%= @city.state_or_country %><br />
        Airport Code:<%= @city.airport_code %><br />
        Hotel:<%= @city.hotel %><br />
      <br>
      <% if current_user && current_user == @city.user %>
      <%= link_to "Edit #{@city.name}", edit_city_path(@city) %><br/>
      <%= link_to "Delete #{@city.name}", @city, method: :delete, data: { confirm: "Are you sure?" } %>
      <br />
      <br />
      <% end %>
</p>