<h1><%= @city.name%></h1>

<p>
   <strong>restaurant:</strong> <%= @city.restaurants.name %><br />
   <strong>state or country: </strong> <%= @city.state_or_country %><br />
   <strong>Airport Code:</strong> <%= @city.airport_code %><br />
   <strong>Hotel:</strong> <%= @city.hotel %><br />

</p>