<!DOCTYPE html>
<html>
  <head>
    <title>fAAties Restaurant Guide</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
    <% if logged_in?%>
      <%= link_to "Home", root_path%> |
      <%= link_to "Restaurants", restaurants_path %> |
      <%= link_to "Add A Restaurant", new_restaurant_path %> |
      <%= link_to "Layover Cities", cities_path %> |
      <%= link_to "Add a new Layover!", new_city_path %> |
      <%= link_to "Logout", logout_path, method:"delete"%>
    <%else%>
      <%=link_to "Signup", signup_path %> |
      <%=link_to "Login", login_path %> |
    <% end %>
      <%= @error%>
    <%= yield %>
  </body>
</html>
